@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
  from {
    opacity: 0; /* Start fully transparent */
    transform: translateY(20px); /* Optional: adds a slight upward slide */
  }
  to {
    opacity: 1; /* End fully opaque */
    transform: translateY(0); /* Reset position */
  }
}

.fade-in {
  opacity: 0; /* Start invisible */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.fade-in-visible {
  opacity: 1; /* Fully visible */
  animation: fadeIn 0.5s ease forwards; /* Apply fade-in animation */
}

  